<server description="Sample Liberty server">

<featureManager>
    <feature>jaxrs-2.1</feature>
</featureManager>

<httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}"
    id="defaultHttpEndpoint"/>

<webApplication location="guide-cors.war" contextRoot="/"/>

<!-- tag::simple-config[] -->
<!-- tag::domain-simple[] -->
<cors domain="/configurations/simple"
<!-- end::domain-simple[] -->
    <!-- tag::allowedOrigins-simple[] -->
    allowedOrigins="openliberty.io"
    <!-- end::allowedOrigins-simple[] -->
    <!-- tag::allowedMethods-simple[] -->
    allowedMethods="GET"
    <!-- end::allowedMethods-simple[] -->
    <!-- tag::allowCredentials-simple[] -->
    allowCredentials="true"
    <!-- end::allowCredentials-simple[] -->
    <!-- tag::exposeHeaders-simple[] -->
    exposeHeaders="MyHeader"/>
    <!-- end::exposeHeaders-simple[] -->
<!-- end::simple-config[] -->

<!-- tag::preflight-config[] -->
<!-- tag::domain-preflight[] -->
<cors domain="/configurations/preflight"
<!-- end::domain-preflight[] -->
    <!-- tag::allowedOrigins-preflight[] -->
    allowedOrigins="*"
    <!-- end::allowedOrigins-preflight[] -->
    <!-- tag::allowedMethods-preflight[] -->
    allowedMethods="OPTIONS, DELETE"
    <!-- end::allowedMethods-preflight[] -->
    <!-- tag::allowCredentials-preflight[] -->
    allowCredentials="true"
    <!-- end::allowCredentials-preflight[] -->
    <!-- tag::allowedHeaders-preflight[] -->
    allowedHeaders="MyOwnHeader1, MyOwnHeader2"
    <!-- end::allowedHeaders-preflight[] -->
    <!-- tag::maxAge[] -->
    maxAge="10"/>
    <!-- end::maxAge[] -->
<!-- end::preflight-config[] -->

</server>
